/* @import 'bootstrap/dist/css/bootstrap.min.css' */

/* body{
    display: grid;
    background-color: #F5F5F5;
    min-height: 100vh;
} */

.bootstrap-logo {
    width: 120px;
    height: 120px;
}

#main-container{
    place-items:center center;
}

#sign-in-form{
    max-width: 330px;
}

.form-control:focus {
    z-index: 5;
}